<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<h1 align="center">Welcome to the Home Page of our Product APP</h1><br>
<h3>Click on any category to open its sub category</h3>
{% for cat in categories_list %}
{{forloop.counter}} -
<a href="/product/sub-category-listing/{{cat.id}}/">{{cat.name}}</a><br><br>
<a href="/product/product-listing-category/{{cat.id}}/">(click here to see all products of this category directly)</a>

<hr>
{% endfor %}
</body>
</html>