<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<form method="post" action="/blog/register/">
    Name: <input type="text" name="name">
    Email: <input type="text" name="email">
    Cell phone: <input type="text" name="cell_phone">
    Password: <input type="text" name="password">
    Admin: <input type="text" name="is_admin" value="No">
    <button type="submit" name="submit" value="submit">Submit</button>
</form>
</body>
</html>