<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{group.title}}</title>
</head>
<body>
<h2>Welcome to the group {{user.name}}-{{user.cell_phone}}</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding: 14px 0px;">
                  <tbody>
                    <tr>
                      <td align="right" valign="top">
                          <a href="/group/logout" style="text-align: right; vertical-align: top">Logout</a></td>
                    </tr>
                  </tbody>
                </table>
<h3>Title---> {{group.title}}</h3>
<h3>Description---> {{group.description}}</h3>
<a href="/group/group-exit-user/{{group.id}}/{{user_loggedin.id}}/">Exit the group</a>

<h2>These users are already present in this group. Click on any user to remove the user.(Only admin can remove any user)</h2>
{% for user in users_present %}
<a href="/group/group-remove-user/{{group.id}}/{{user.id}}/">{{user.name}}-{{user.cell_phone}}{% ifequal group.admin_user_id user.id %}(Admin){% endifequal %}</a>,
{% endfor %}
<h2>You can add below mentioned people in the group by clicking on the name of the user</h2>
{% for user in users_to_be_added %}
<a href="/group/group-add-user/{{group.id}}/{{user.id}}/">{{user.name}}-{{user.cell_phone}}</a>,
{% endfor %}
<hr>
{% if messages %}
<h2>Here are the messages in the group</h2>
{% for key, value in messages.items %}
{% for message in value %}
<h4 style="display:inline">{{key.name}} -  </h4>{{message.content}}
<br>
{% endfor %}
{% endfor %}
{% else %}
<h2>Currently there are no messages in this group. Please type your message</h2>
{% endif %}
<hr>
<form action="/group/group-add-message/{{group.id}}/{{user_loggedin.id}}/" method="post">
    {% csrf_token %}
  <label>Type your message:</label>
  <textarea name="content" cols="40" rows="3"></textarea><br><br>
  <input type="submit" value="Send">
</form>

</body>
</html>