<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<h1 align="center">Welcome to the Home Page of our GROUP CHAT APP</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding: 14px 0px;">
                  <tbody>
                    <tr>
                      <td align="right" valign="top">
                          <a href="/group/logout" style="text-align: right; vertical-align: top">Logout</a></td>
                    </tr>
                  </tbody>
                </table>
<a href="/group/create-group-view/{{user_id}}">Create a Group</a><br><br><br><br>
{% if group_lists %}
<h3>Here are all your groups</h3>
{% for group in group_lists %}
Title: {{group.title}}<br>
Description: {{group.description}}<br>
<a href="/group/group-display-view/{{group.id}}/">Enter the group</a><br>
<hr>
{% endfor %}
{% else %}
<h3>You currently have no groups. Please create one or wait till your friends add you into theirs.</h3>
{% endif %}
</body>
</html>